* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all ease-in-out 1s;
}

*::-webkit-scrollbar {
  width: 0.2pc;
  height: 0.2pc;
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  width: 0.2pc;
  background-color: #1c1c1c;
  border-radius: 8px;
}

.Container_Grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". . . a1 a1 a1 a1 a1 a1 . . . "
    ". . . a1 a1 a1 a1 a1 a1 a2 a2 a2"
    ". . . a1 a1 a1 a1 a1 a1 a2 a2 a2"
    ". . . a3 a3 a3 a4 a4 a4 a4 a4 a4"
    ". . . a3 a3 a3 a4 a4 a4 a4 a4 a4"
    "a5 a5 a5 a5 a5 a5 a4 a4 a4 a4 a4 a4"
    "a5 a5 a5 a5 a5 a5 a6 a6 a6 a7 a7 a7"
    "a5 a5 a5 a5 a5 a5 a6 a6 a6 a7 a7 a7";
  grid-gap: 32px;
  background-color: red;
}

@media (min-width: 768px) {
  .Container_Grid {
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1 a1 . . . . . "
      "a1 a1 a1 a1 a1 a1 a1 a2 a2 a2 a2 a2"
      "a1 a1 a1 a1 a1 a1 a1 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a4 a4 a4 a4 a4 a4 a4"
      "a3 a3 a3 a3 a3 a4 a4 a4 a4 a4 a4 a4"
      ". . . . . a4 a4 a4 a4 a4 a4 a4"
      ". . a5 a5 a5 a5 a5 a5 a5 . . . "
      ". . a5 a5 a5 a5 a5 a5 a5 . . . "
      ". . a5 a5 a5 a5 a5 a5 a5 . . . "
      "a6 a6 a6 a6 a6 a7 a7 a7 a7 a7 . . "
      "a6 a6 a6 a6 a6 a7 a7 a7 a7 a7 . . ";
    grid-gap: 24px;
  }
}

@media (max-width:500px) {
  .Container_Grid {
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4"
      "a5"
      "a6"
      "a7";
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}